@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome</h3>
</div>
<h1>Lab Assignments</h1>

<div>
    <h2>Lab1</h2>
    <p>Петя виписав усі поєднання з N перших англійських букв по K букв. У кожному поєднанні він виписував літери у лексикографічному порядку. Поєднання він виписував у лексикографічному порядку по одному у рядку. Тепер він хоче дізнатися: яке слово записано в M-му рядку.</p>
</div>

<div>
    <h2>Lab2</h2>
    <p>Послідовність з англійських букв будується так. Спочатку вона порожня. На кожному наступному етапі послідовність подвоюється, після чого до неї зліва дописується ще одна літера англійського алфавіту (a, b, c, …).</p>
</div>

<div>
    <h2>Lab3</h2>
    <p>Дано орієнтований зважений граф. Для нього вам необхідно знайти найкоротшу відстань від вершини S до вершини F.</p>
</div>
